Assistente-de-Delivery-com-AWS-Step-Functions-e-Bedrock_v1.1.json
{
  "Comment": "An example of using Bedrock to chain prompts and their responses together.",
  "StartAt": "Init",
  "States": {
    "Init": {
      "Type": "Pass",
      "Next": "Sugestões de comida",
      "Result": {
        "prompt_one": "Sugestões de comida:",
        "prompt_two": "Sugestões de bebidas:",
        "prompt_three": "Sugestões de local:"
      },
      "Comment": "Sem dados de entrada e um json de saida para iniciar o algumas variaves esperadas."
    },
    "Sugestões de comida": {
      "Type": "Task",
      "Resource": "arn:aws:states:::bedrock:invokeModel",
      "Parameters": {
        "ModelId": "arn:aws:bedrock:us-east-1::foundation-model/anthropic.claude-3-haiku-20240307-v1:0",
        "Body": {
          "anthropic_version": "bedrock-2023-05-31",
          "max_tokens": 2000,
          "messages": [
            {
              "role": "user",
              "content": [
                {
                  "type": "text",
                  "text": "Estou pensando em fazer um jantar romântico, o prato principal será macarrão, me de uma lista de três itens que combinam com esta experiência gastronomica. Não sugira bebidas."
                }
              ]
            }
          ]
        },
        "ContentType": "application/json",
        "Accept": "*/*"
      },
      "Next": "Sugestões de bebidas",
      "ResultPath": "$.result_one",
      "ResultSelector": {
        "result_one.$": "$.Body.content[0].text"
      },
      "Comment": "Solicita a sugestão de três acompanhamentos para o prato principal que é macarrão "
    },
    "Sugestões de bebidas": {
      "Type": "Task",
      "Resource": "arn:aws:states:::bedrock:invokeModel",
      "Parameters": {
        "ModelId": "arn:aws:bedrock:us-east-1::foundation-model/anthropic.claude-3-haiku-20240307-v1:0",
        "Body": {
          "anthropic_version": "bedrock-2023-05-31",
          "max_tokens": 2000,
          "messages": [
            {
              "role": "user",
              "content": [
                {
                  "type": "text",
                  "text": "Indique duas opções de bebidas que podem acompanhar esse jantar romântico."
                }
              ]
            }
          ]
        },
        "ContentType": "application/json",
        "Accept": "*/*"
      },
      "Next": "Sugestões de local",
      "ResultSelector": {
        "result_two.$": "$.Body.content[0].text"
      },
      "ResultPath": "$.result_two",
      "Comment": "Solicita a sugestão de duas bebidas para acompamjar o jantar"
    },
    "Sugestões de local": {
      "Type": "Task",
      "Resource": "arn:aws:states:::bedrock:invokeModel",
      "Parameters": {
        "ModelId": "arn:aws:bedrock:us-east-1::foundation-model/anthropic.claude-3-haiku-20240307-v1:0",
        "Body": {
          "anthropic_version": "bedrock-2023-05-31",
          "max_tokens": 2000,
          "messages": [
            {
              "role": "user",
              "content": [
                {
                  "type": "text",
                  "text": "Me dê uma sugestão para um jantar romântico em Paris."
                }
              ]
            }
          ]
        },
        "ContentType": "application/json",
        "Accept": "*/*"
      },
      "End": true,
      "ResultSelector": {
        "result_three.$": "$.Body.content[0].text"
      },
      "Comment": "Sugere um local para um jantar romântico",
      "ResultPath": "$.result_three"
    }
  }
}